<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #f1f1f1;
}

#tableMain
{
  position:relative;
  left:20%;
  width:80%;
}

.firstColumn
{
  border:20%;
  width:50%;
}

.secondColumn
{
  width:25%;
}

.thirdColumn
{
  width:25%;
}

tr {
width: 100%;
display: inline-table;
}

table{
 height:300px; 
}
tbody{
  overflow-y: scroll;
  height: 70vh;
  width: 100%;
  position: absolute;
}

select {
    margin: 50px;
    border: 1px solid #111;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
</style>