<style>


table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr {
width: 100%;
display: inline-table;
}

tbody{
  overflow-y: scroll;
  height: 75vh;
  position: absolute;
}

#inputForm
{
  background-color:#eee;
  height:85vh;
  border-right: 1px solid #bbb;
}

#inputList
{
  height:77vh;
   overflow: scroll;
}

#bodyApp
{
  width: 100%;
  overflow: hidden;
}

#tableMain
{
  width:80%;
}

#tableMainBody
{
  background-color: #fff;
  width:80%;
}

#headerApp
{
  background: -webkit-linear-gradient(#f9f9f9, #f0f0f0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f9f9f9, #f0f0f0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f9f9f9, #f0f0f0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f9f9f9, #f0f0f0); /* Standard syntax */

  height:15vh;
  border-bottom: 1px solid #bbb;
  text-align: center;
  padding-top: 2vh;
  color:#699; 
}

#footer
{
  position:absolute;
  height:5vh;
  width:100%;
  bottom: 0px;
  background-color: #eee;
  border-top: 1px solid #bbb;
  color:#666;
  text-align: right;
  padding-right:20px;
}

.firstColumn
{
  width:50%;
}

.secondColumn
{
  width:25%;
}

.thirdColumn
{
  width:25%;
}


</style>